@import "colores";

$colorHover:rgba(177, 85, 85, 0.753);

$tamanioCard: 550px;


html,
body {
    background-color: white;
}



.navColor{
    font-size: large;
    background-color: rgba(0, 0, 0, 0.562);
    &:hover {
        background-color: $colorHover;
    }
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Foot {
    font-family: "Courier New", Courier, monospace;
}

.tituloTips {
    color: map-get($map: $coloresFont, $key: tituloPag);
}

.divTips {
    color: map-get($map: $coloresFont, $key: divTip);
}

.mProductos {
    margin-right: 12px;
    margin-left: 12px;
}

.carouselP {
    width: 60%;
    margin-left: 20%;
}


@mixin textos {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
    font-size: large;
}

@mixin h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}

.parrafoLudo {
    h1 {
        @include h1;
        color: $colorTextoIndex;
    }

    h2 {
        color: map-get($map: $coloresFont, $key: parrafo2);
        @include textos;
    }

    h5 {
        color: map-get($map: $coloresFont, $key: parrafo2);
        @include textos;
    }
}

.parrafoNosotros {
    @extend .parrafoLudo;
}

.parrafoPag {
    h1 {

        color: $colorTextoIndex;
        @include h1;
    }

    h2 {
        color: map-get($map: $coloresFont, $key: parrafosPag);
        @include textos;
    }
}

.btnIndex {
    background-color: map-get($map: $coloresFont, $key: btnIndex);

    &:hover {
        background-color: $colorHover;
    }
}

.cardImg {
    margin-left: 200px;
    margin-right: 200px;
    background-color: white;
}

.carouselIndex {
    width: 40%;
    margin-left: 30%;
}

/* ANIMACIONES */

@keyframes aniProductos {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

#aniProductos {
    animation: aniProductos 1s ease 0s 1 normal forwards;
}

@keyframes aniVideos {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35),
            0 12px 20px -12px rgba(0, 0, 0, 0.35);
    }
}

.aniVideos {
    animation: aniVideos 1s ease 0s 1 normal forwards;
}

@keyframes aniNosotros {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.aniNosotros {
    animation: aniNosotros 6s ease 0s 1 normal forwards;
    box-shadow: 6px 6px 7px rgba(177, 171, 172, 0.637);
    box-sizing: border-box;
}


@media screen and (max-width: 575px) {

    .navColor{
        font-size: medium;
        background-color: rgba(168, 154, 123, 0.788);
        &:hover {
            background-color: $colorHover;
        }
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        
        }

    .hola {
        text-align: center;
    }

    .tituloTips {
        text-align: center;
    }

    .imgNosotros {
        height: 1000px;
    }

    .imgNosotros2 {
        height: 160px;
        width: 210px;
        margin-top: -30px;
    }

    .mProductos {
        margin-right: 13px;
        margin-left: 13px;

    }

    .cardImg {
        margin-left: 0px;
        margin-right: 0px;
    }

    .carouselIndex {
        width: 65%;
        margin-left: 17%;
    }

    .mProductos2 {
        height: calc($tamanioCard / 2);

        @if calc($tamanioCard /2) <=300px {
            background-color: rgba(240, 172, 183, 0.123);
            font-size: small;
        }

    }

    .carouselP {
        width: 90%;
        margin-left: 5%;
    }


}