html,
body {
  background-color: white;
}

.barraNav {
  opacity: 0.8;
}

.Foot {
  font-family: "Courier New", Courier, monospace;
}

.tituloTips {
  color: rgba(223, 101, 101, 0.4392156863);
}

.divTips {
  color: rgba(36, 78, 28, 0.8431372549);
}

.mProductos {
  margin-right: 12px;
  margin-left: 12px;
}

.carouselP {
  width: 60%;
  margin-left: 20%;
}

.parrafoLudo h1, .parrafoNosotros h1 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgba(216, 58, 118, 0.781);
}
.parrafoLudo h4, .parrafoNosotros h4 {
  color: #631b1b;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.parrafoLudo h5, .parrafoNosotros h5 {
  color: #631b1b;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.parrafoPag h1 {
  color: rgba(216, 58, 118, 0.781);
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.parrafoPag h5 {
  color: rgba(74, 145, 27, 0.6901960784);
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.btnIndex {
  background-color: rgba(35, 161, 35, 0.631372549);
}
.btnIndex:hover {
  background-color: rgba(177, 85, 85, 0.753);
}

.cardImg {
  margin-left: 200px;
  margin-right: 200px;
  background-color: white;
}

.carouselIndex {
  width: 40%;
  margin-left: 30%;
}

/* ANIMACIONES */
@-webkit-keyframes aniProductos {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes aniProductos {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
#aniProductos {
  -webkit-animation: aniProductos 1s ease 0s 1 normal forwards;
          animation: aniProductos 1s ease 0s 1 normal forwards;
}

@-webkit-keyframes aniVideos {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35), 0 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}

@keyframes aniVideos {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35), 0 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}
.aniVideos {
  -webkit-animation: aniVideos 1s ease 0s 1 normal forwards;
          animation: aniVideos 1s ease 0s 1 normal forwards;
}

@-webkit-keyframes aniNosotros {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aniNosotros {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.aniNosotros {
  -webkit-animation: aniNosotros 6s ease 0s 1 normal forwards;
          animation: aniNosotros 6s ease 0s 1 normal forwards;
  box-shadow: 6px 6px 7px rgba(177, 171, 172, 0.637);
  box-sizing: border-box;
}

@media screen and (max-width: 575px) {
  .imgNosotros {
    height: 1000px;
  }

  .imgNosotros2 {
    height: 160px;
    width: 210px;
    margin-top: -30px;
  }

  .mProductos {
    margin-right: 13px;
    margin-left: 13px;
  }

  .cardImg {
    margin-left: 0px;
    margin-right: 0px;
  }

  .carouselIndex {
    width: 65%;
    margin-left: 17%;
  }

  .mProductos2 {
    height: 275px;
    background-color: rgba(240, 172, 183, 0.123);
    font-size: small;
  }

  .carouselP {
    width: 90%;
    margin-left: 5%;
  }
}/*# sourceMappingURL=styles.css.map */